* {
    --light-grey: rgb(218 215 215);
    --greenish-grey: rgb(47, 79, 79);
    --white: rgb(255, 255, 255);
    --soft-white: rgb(237, 237, 237);
    --chill-green: rgb(57, 179, 111);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    height: 100%;
}

.container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header div {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.header {
    grid-column-start: 2;
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end: 2;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--chill-green);
    padding: 32px;
    padding: 32px;
}

.sidebar > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar * {
    color: var(--white);
}

.sidebar p,
.sidebar a {
    display: flex;
    gap: 1rem;
}

.sidebar p{
    font-size: 2rem;
    font-weight: 500;
}

.sidebar a {
    font-size: 1.5rem;
    font-weight: 500;
}

.sidebar svg {
    height: auto;
    fill: var(--white);
}

.sidebar li svg {
    width: 2rem;
}

.sidebar p svg {
    width: 2.5rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header > * {
    display: flex;
    align-items: center;
}

.header p {
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: var(--soft-white);
}

.content > div:first-child,
.content > div:last-child {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;

   padding: 20px;
}

.cards {
    flex: 1;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.content > div > p:first-child,
.card > p:first-child,
.social > p,
.announcements p:first-child {
    font-weight: 500;
}

.content > div > p:first-child,
.social > p {
    font-size: 1.2rem;
}

.card,
.social div {
    background-color: var(--white);
}

.card,
.social > div {
    padding: 1.5rem;
    border-radius: 16px;
}

.card > p:last-child {
    font-size: 0.9rem;
    color: var(--greenish-grey);
}

.social > div {
    flex: 1;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.announcements > div {
    flex: 1;

    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.announcements p:first-child {
    font-size: 0.9rem;
}

.announcements p:last-child {
    font-size: 0.8rem;
    color: var(--greenish-grey);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.announcements div:not(:last-child) {
    border-bottom: 1px var(--light-grey) solid;
    padding-bottom: 0.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}






